<mat-card class="counter"> 
    
  <mat-card-title>Compteur #{{ counter.id }} : {{ counter.name }}</mat-card-title>
  
  <mat-card-content>
      <p>{{ counter.value }}</p>
      <p style="font-size: 11px;">Date de création : {{ counter.created_at }}</p>
      <p style="font-size: 11px;">Date de dernière mise à jour : {{ counter.updated_at }}</p>

  </mat-card-content>
  <mat-card-actions>
      <button 
        mat-button 
        (click)="increment()"
        [disabled]="counter.value == null">Incrémenter</button>
      <a 
        mat-button 
        target="_blank"
        [href]="counter.url">Lien vers le compteur</a>
  </mat-card-actions>
</mat-card>